body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/*intestazione*/
header {
  width: 100%;
  font-size: 1.2vw;
}

nav {
  padding: 3% 0;
}

nav ul li {
  list-style-type: none;
  display: inline;
  margin: 0 10px 0 0;
  text-transform: uppercase;
}

nav li a {
  text-decoration: none;
  color: #9e9e9e;
}

nav li a:hover {
  color: #000;
}

.logo-cont {
  width: 15%;
  margin: 10px 0 0 0;
  padding: 0 10px 0 0;
  border-right: 0.5px solid #9e9e9e
}

.logo-cont img {
  width: 100%;
}

/*corpo principale*/
main {
  width: 100%;
}

main h2, h3, h4{
 font-weight: normal;
}

.jumbo {
  width: 100%;
  height: 70vh;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}

.layover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index : 1;
}

.jumbo-title {
  width: 50%;
  color: #fff;
  position: absolute;
  bottom: 15%;
  left: 5%;
  z-index: 2;
}

.jumbo-title h2 {
  font-size: 5vh;
}

.articles-cont {
  width: 100%;
}

.articles-title {
  padding: 3% 0;
}

.articles-title h1 {
  font-size: 6vh;
}

.articles-title h4 {
  color: #9e9e9e;
}

.aside {
  width: 20%;
  float: left;
}

.image-cont {
  width: 100%;
  height: 30vh;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.aside-image-1 {
  background-image: url(../img/img-1.jpg);
}

.aside-image-2 {
  background-image: url(../img/img-3.jpg);
}

.main-cont {
  width: 50%;
  margin: 0 5%;
  float: left;
}

.main-cont-image {
  background-image: url(../img/banner-2.jpg);
}

.articles-cont h4{
  margin: 5px 0 0 0;
}

.articles-cont p {
  margin: 10px 0 0 0;
  color:  #9e9e9e;
}

/*fine pagine*/
footer {
  width: 100%;
  height: 5vh;
  margin: 30px 0 0 0;
  text-align: center;
}

.heart {
  color: red;
  font-size: 3.5vh;
}
